--training_files=PATH_TO_BE_CONFIGURED/inat_train_mini.record-?????-of-00455
--num_training_instances=500000
--validation_files=PATH_TO_BE_CONFIGURED/inat_val.record-?????-of-00091
--num_validation_instances=100000
--num_classes=10000
--model_name=efficientnet-b0
--input_size=224
--input_scale_mode=uint8
--batch_size=32
--lr=0.1
--momentum=0.9
--epochs=10
--label_smoothing=0.1
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42