--training_files=PATH_TO_BE_CONFIGURED/inat_train.record-?????-of-02240
--num_training_instances=2686843
--validation_files=PATH_TO_BE_CONFIGURED/inat_val.record-?????-of-00084
--num_validation_instances=100000
--num_classes=10000
--model_name=efficientnet-b3
--input_size=300
--input_scale_mode=uint8
--use_coordinates_inputs
--batch_size=32
--lr=0.1
--momentum=0.9
--epochs=20
--label_smoothing=0.1
--randaug_num_layers=6
--randaug_magnitude=4
--random_seed=42