--test_files=PATH_TO_BE_CONFIGURED/inat_public_test.record-?????-of-00417
--num_classes=10000
--model_name=efficientnet-b3
--input_size=432
--input_scale_mode=uint8
--batch_size=8
--ckpt_dir=PATH_TO_BE_CONFIGURED/
--geo_prior_ckpt_dir=PATH_TO_BE_CONFIGURED/
--submission_file_path=PATH_TO_BE_CONFIGURED/final_submission.csv
--use_tta