--training_files=PATH_TO_BE_CONFIGURED/inat_train_mini.record-?????-of-00417
--num_training_instances=500000
--validation_files=PATH_TO_BE_CONFIGURED/inat_val.record-?????-of-00084
--num_validation_instances=100000
--num_classes=10000
--model_name=efficientnet-b0
--input_size=224
--input_size_stage3=300
--input_scale_mode=uint8
--batch_size=32
--lr_stage1=0.1
--lr_stage2=0.1
--lr_stage3=0.008
--momentum=0.9
--epochs_stage1=4
--epochs_stage2=10
--epochs_stage3=2
--unfreeze_layers=18
--label_smoothing=0.1
--randaug_num_layers=2
--randaug_magnitude=2
--random_seed=42