--training_files=PATH_TO_BE_CONFIGURED/inat_train_mini.record-?????-of-00455
--num_training_instances=500000
--validation_files=PATH_TO_BE_CONFIGURED/inat_val.record-?????-of-00091
--num_validation_instances=100000
--num_classes=10000
--model_name=efficientnet-b0
--fix_resolution
--unfreeze_layers=16
--input_size=300
--input_scale_mode=uint8
--load_checkpoint=PATH_TO_BE_CONFIGURED
--batch_size=32
--lr=0.008
--momentum=0
--epochs=2
--warmup_epochs=0.1
--label_smoothing=0.1
--random_seed=42