--training_files=PATH_TO_BE_CONFIGURED/inat_train.record-?????-of-02240
--num_training_instances=2686843
--validation_files=PATH_TO_BE_CONFIGURED/inat_val.record-?????-of-00084
--num_validation_instances=100000
--num_classes=10000
--model_name=efficientnet-b3
--fix_resolution
--unfreeze_layers=18
--input_size=400
--input_scale_mode=uint8
--use_coordinates_inputs
--load_checkpoint=PATH_TO_BE_CONFIGURED/
--batch_size=16
--lr=0.008
--momentum=0
--epochs=2
--warmup_epochs=0.1
--label_smoothing=0.1
--random_seed=42